## Regression with a Crab Age Dataset
## Junfei Ma | Crystal Cui | Shuangqing Li | Chengcheng Le

### https://www.kaggle.com/competitions/playground-series-s3e16

In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
sample = pd.read_csv("sample_submission.csv")

In [3]:
train

,id,Sex,Length,Diameter,Height,Weight,Shucked Weight,Viscera Weight,Shell Weight,Age
0,0,I,1.5250,1.1750,0.3750,28.973189,12.728926,6.647958,8.348928,9
1,1,I,1.1000,0.8250,0.2750,10.418441,4.521745,2.324659,3.401940,8
2,2,M,1.3875,1.1125,0.3750,24.777463,11.339800,5.556502,6.662133,9
3,3,F,1.7000,1.4125,0.5000,50.660556,20.354941,10.991839,14.996885,11
4,4,I,1.2500,1.0125,0.3375,23.289114,11.977664,4.507570,5.953395,8
...,...,...,...,...,...,...,...,...,...,...
74046,74046,F,1.6625,1.2625,0.4375,50.660556,20.680960,10.361742,12.332033,10
74047,74047,I,1.0750,0.8625,0.2750,10.446791,4.323299,2.296310,3.543687,6
74048,74048,F,1.4875,1.2000,0.4125,29.483480,12.303683,7.540967,8.079607,10
74049,74049,I,1.2125,0.9625,0.3125,16.768729,8.972617,2.919999,4.280774,8
74050,74050,I,0.9125,0.6750,0.2000,5.386405,2.055339,1.034757,1.700970,6

In [4]:
test

,id,Sex,Length,Diameter,Height,Weight,Shucked Weight,Viscera Weight,Shell Weight
0,74051,I,1.0500,0.7625,0.2750,8.618248,3.657085,1.729319,2.721552
1,74052,I,1.1625,0.8875,0.2750,15.507176,7.030676,3.246018,3.968930
2,74053,F,1.2875,0.9875,0.3250,14.571643,5.556502,3.883882,4.819415
3,74054,F,1.5500,0.9875,0.3875,28.377849,13.380964,6.548735,7.030676
4,74055,I,1.1125,0.8500,0.2625,11.765042,5.528153,2.466407,3.331066
...,...,...,...,...,...,...,...,...,...
49363,123414,F,1.3000,1.0375,0.3250,16.315137,6.690482,5.173784,3.756309
49364,123415,I,1.0375,0.7625,0.2625,10.276694,4.436697,1.998640,3.543687
49365,123416,F,1.4875,1.1625,0.3625,31.382897,11.396499,6.846404,8.788345
49366,123417,F,1.2375,0.9500,0.2875,15.663099,6.095142,3.727959,4.961163
49367,123418,M,1.6625,1.3000,0.4375,36.613379,14.911837,8.292229,10.489315

## Data Exploration

In [5]:
train.nunique()

id                74051
Sex                   3
Length              144
Diameter            122
Height               65
Weight             3096
Shucked Weight     1766
Viscera Weight      967
Shell Weight       1048
Age                  28
dtype: int64

In [6]:
train.isnull().sum(), test.isnull().sum()

(id                0
 Sex               0
 Length            0
 Diameter          0
 Height            0
 Weight            0
 Shucked Weight    0
 Viscera Weight    0
 Shell Weight      0
 Age               0
 dtype: int64,
 id                0
 Sex               0
 Length            0
 Diameter          0
 Height            0
 Weight            0
 Shucked Weight    0
 Viscera Weight    0
 Shell Weight      0
 dtype: int64)

In [7]:
train.describe()

,id,Length,Diameter,Height,Weight,Shucked Weight,Viscera Weight,Shell Weight,Age
count,74051.000000,74051.000000,74051.000000,74051.000000,74051.000000,74051.000000,74051.000000,74051.000000,74051.000000
mean,37025.000000,1.317460,1.024496,0.348089,23.385217,10.104270,5.058386,6.723870,9.967806
std,21376.826729,0.287757,0.237396,0.092034,12.648153,5.618025,2.792729,3.584372,3.175189
min,0.000000,0.187500,0.137500,0.000000,0.056699,0.028349,0.042524,0.042524,1.000000
25%,18512.500000,1.150000,0.887500,0.300000,13.437663,5.712424,2.863300,3.968930,8.000000
50%,37025.000000,1.375000,1.075000,0.362500,23.799405,9.908150,4.989512,6.931453,10.000000
75%,55537.500000,1.537500,1.200000,0.412500,32.162508,14.033003,6.988152,9.071840,11.000000
max,74050.000000,2.012815,1.612500,2.825000,80.101512,42.184056,21.545620,28.491248,29.000000

In [8]:
test.describe()

,id,Length,Diameter,Height,Weight,Shucked Weight,Viscera Weight,Shell Weight
count,49368.000000,49368.000000,49368.000000,49368.000000,49368.000000,49368.000000,49368.000000,49368.000000
mean,98734.500000,1.319795,1.026357,0.348693,23.464627,10.130220,5.072615,6.745876
std,14251.458382,0.286950,0.236593,0.092259,12.641703,5.611779,2.791563,3.575650
min,74051.000000,0.187500,0.137500,0.000000,0.056699,0.028349,0.014175,0.042524
25%,86392.750000,1.162500,0.887500,0.300000,13.536886,5.740774,2.877474,3.968930
50%,98734.500000,1.387500,1.075000,0.362500,23.813580,9.979024,4.989512,6.945627
75%,111076.250000,1.537500,1.200000,0.412500,32.290081,14.047177,7.016501,9.171063
max,123418.000000,2.037500,1.625000,2.825000,80.101512,42.184056,21.545620,28.491248

#### 图片
#### 1.age的distribution（train）
#### 2.age的distribution by different sex（train）
#### 3.correlation Matrix（train）
#### 4.所有features 的distributions（train和test作对比）
#### 5.所有features 的boxplot
#### 6. 其他

## Data cleaning&Processing

#### 1. Outliers (Ex: Height : Min value is 0)

In [9]:
train.sort_values(by = ['Length'])

,id,Sex,Length,Diameter,Height,Weight,Shucked Weight,Viscera Weight,Shell Weight,Age
1996,1996,I,0.187500,0.1375,0.0625,0.056699,0.028349,0.075049,0.042524,4
31683,31683,I,0.187500,0.1375,0.0250,0.056699,0.028349,0.042524,0.042524,4
15366,15366,I,0.275000,0.2250,0.0750,0.226796,0.070874,0.056699,0.056699,3
3484,3484,I,0.275000,0.2375,0.0375,0.354369,0.141747,0.085048,0.141747,4
25973,25973,I,0.287500,0.2625,0.0875,0.297670,0.184272,0.099223,0.141747,4
...,...,...,...,...,...,...,...,...,...,...
54816,54816,M,1.950000,1.3750,0.4875,49.342305,23.572609,12.076887,12.190285,12
60098,60098,F,1.950000,1.4375,0.4750,60.242688,29.895908,10.574364,15.733973,12
11208,11208,F,1.950000,1.5750,0.5375,75.324622,42.184056,14.132226,16.612807,29
3937,3937,F,1.950000,1.4125,0.5375,72.234526,33.863478,14.840963,17.038049,10
48999,48999,I,2.012815,0.7875,0.2500,9.738053,3.472814,1.800193,2.693202,8

Length里面最后一行是Length最长的crab，但是其他的数值都很低：相同Age的作比较看看是否需要替换数值，或者直接删除
需要根据boxplot看每outlier，可能还需要不同age的boxplot

In [10]:
train.loc[(train['Height'] == 0)].sort_values(by = ['Weight'])

,id,Sex,Length,Diameter,Height,Weight,Shucked Weight,Viscera Weight,Shell Weight,Age
28362,28362,I,0.387500,0.2625,0.0,0.496116,0.141747,0.099223,0.141747,3
51660,51660,I,0.400000,0.3000,0.0,0.510291,0.255146,0.226796,0.141747,4
63685,63685,I,0.400000,0.3125,0.0,0.595340,0.212621,0.127573,0.141747,4
56641,56641,I,0.475000,0.3250,0.0,0.765436,0.354369,0.141747,0.255146,4
9320,9320,I,0.462500,0.3250,0.0,0.893009,0.354369,0.141747,0.269320,7
51907,51907,I,0.537500,0.4125,0.0,1.063106,0.510291,0.340194,0.425243,4
16301,16301,I,0.437500,0.3625,0.0,1.077281,0.467767,0.184272,0.255146,4
13456,13456,I,0.575000,0.4000,0.0,1.304077,0.467767,0.340194,0.382718,3
15463,15463,I,0.500000,0.4000,0.0,1.318252,0.411068,0.226796,0.283495,4
63366,63366,I,0.625000,0.4375,0.0,1.743494,0.581165,0.269320,0.566990,4
11542,11542,I,0.637500,0.4375,0.0,1.771844,0.637864,0.396893,0.462525,3
64501,64501,I,0.575000,0.4375,0.0,1.828543,0.609514,0.496116,0.609514,4
39272,39272,I,0.600000,0.4375,0.0,1.899417,0.751262,0.396893,0.595340,4
68906,68906,I,0.587500,0.4375,0.0,1.998640,0.836310,0.354369,0.566990,4
3585,3585,I,0.737087,0.5250,0.0,2.267960,0.737087,0.652038,0.708738,5
43915,43915,I,0.662500,0.5000,0.0,2.721552,1.048931,0.637864,0.850485,4
52362,52362,I,0.687500,0.5125,0.0,2.806601,1.020582,0.524466,0.850485,5
8749,8749,I,0.525000,0.3750,0.0,2.863300,1.204854,0.425243,0.425243,4
14406,14406,I,0.737500,0.5375,0.0,3.515338,1.630096,0.737087,0.878834,2
34250,34250,I,0.787500,0.5750,0.0,3.600386,1.360776,1.133980,1.133980,9
66724,66724,I,0.725000,0.5375,0.0,3.727959,1.502523,0.765436,1.162330,3
762,762,I,0.787500,0.5750,0.0,3.727959,1.417475,0.807961,1.133980,4
53477,53477,I,0.825000,0.5625,0.0,5.443104,2.168737,1.289902,1.842718,6
65901,65901,I,0.925000,0.6875,0.0,6.321938,2.778251,1.063106,2.126212,9

根据age分组然后用ml的package自动填充Height = 0的值
或者直接删除

#### Shucked Weight + Viscera Weight + Shell Weight >= Weight

In [11]:
train['Weight_sum']= train['Shucked Weight']+ train['Viscera Weight']+ train['Shell Weight']
train['Weight_diff'] = train['Weight_sum'] - train['Weight']

In [12]:
train.loc[(train['Weight']<train['Weight_sum'])].sort_values(by = ['Weight_diff'])

,id,Sex,Length,Diameter,Height,Weight,Shucked Weight,Viscera Weight,Shell Weight,Age,Weight_sum,Weight_diff
1462,1462,I,0.4125,0.2750,0.0875,0.411068,0.184272,0.085048,0.141747,4,0.411068,5.551115e-17
67832,67832,I,0.3500,0.2625,0.0625,0.411068,0.155922,0.113398,0.141747,4,0.411068,5.551115e-17
44474,44474,I,0.3375,0.2625,0.1375,0.382718,0.141747,0.099223,0.141747,4,0.382718,5.551115e-17
43496,43496,I,0.4500,0.3250,0.1125,0.751262,0.269320,0.226796,0.255146,4,0.751262,1.110223e-16
49599,49599,I,0.4375,0.3250,0.1125,0.893009,0.354369,0.184272,0.354369,5,0.893009,1.110223e-16
...,...,...,...,...,...,...,...,...,...,...,...,...
32945,32945,I,0.6875,0.5000,0.1750,2.990872,14.033003,0.538640,0.893009,5,15.464652,1.247378e+01
50101,50101,I,0.6875,0.5000,0.1750,2.990872,14.132226,0.524466,0.878834,5,15.535526,1.254465e+01
2296,2296,I,0.6875,0.5125,0.1750,2.990872,14.033003,0.538640,0.992232,5,15.563875,1.257300e+01
37581,37581,F,0.6625,0.5000,0.1750,2.990872,14.033003,0.538640,0.992232,7,15.563875,1.257300e+01
4502,4502,M,1.7750,1.4250,0.4875,38.215126,26.705229,12.487955,12.856498,11,52.049682,1.383456e+01

Weight相差不大的可以不管，相差大的讨论一下如何解决

#### New features

In [13]:
#Length * Diameter (area)
train['L_D'] = train['Length'] * train['Diameter']

In [14]:
#Length * Diameter * Height (Volume)
train['L_D_H'] = train['Length'] * train['Diameter'] * train['Height']

In [15]:
# Body density
train['density'] = train['Weight']/train['L_D_H']

## Feature Selection

## Modeling